body{
    background-color:skyblue;
}
.eyes{
    background-color: white;
    position: relative;
    margin: 30px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-left: 5%;
    display: inline-block;
}
.blackeye{
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.container{
    background-image: url(mrbean.jpg);
    background-size: 100%;
    padding: 10%;
}
.box{
    margin-left: 43%;
    margin-top: 10px;
}